<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anabel.esdevenimentsvalencia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_events"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_events"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.RegistreActivity" />
        <activity android:name=".activities.ActivityCategories" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cd2f3772058dd197039e94d103ba98cd4e30f919" />

        <activity android:name=".activities.ActivityListEvents"></activity>
    </application>

</manifest>